@import './colors';
@import './vars';

h1, h2, h3, h4, input, select, button {
    font-family: Calibri;
}

.body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: $main-blue;
    font-family: Calibri;
    color: $main-light;

    &[data-center] {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.switch-container {
    overflow: hidden;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  
    &.dark {
      border-radius: $block-radius;
      background: rgba(0, 0, 0, 0.2);
    }
  
    & > * {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
  
      transition: $transition-transform;
    }  
  
    & > [data-hide-top='true'] {
      transform: translate(0, -110%);
    }
  
    & > [data-hide-bottom='true'] {
      transform: translate(0, 110%);
    }
  
    & > [data-hide-left='true'] {
      transform: translate(-110%, 0);
    }
  
    & > [data-hide-right='true'] {
      transform: translate(110%, 0);
    }
}

input.web-input {
    font-family: $font-family;

    border: $btn-border;
    color: $main-light;
    background: transparent;

    transition: $transition-hover;

    &[data-align='center']{
        text-align: center;
    }
    &[data-align='start']{
        text-align: start;
    }
    &[data-align='end']{
        text-align: end;
    }

    &:focus {
        background: rgba($main-light, 0.5);
        color: $main-blue;
        box-shadow: none;
        border: $btn-border;
    }

    &::selection {
        background: $main-blue;
        color: $main-light;
    }

    &:disabled {
        background: transparent;
    }
}

button.web-btn{
    font-family: $font-family;

    border: $btn-border;
    border-radius: 7px;
    padding: 0.3em 0.5em;
    color: $main-light;
    background: transparent;

    transition: $transition-hover;

    &:hover {
        background: rgba($main-light, 0.5);
        color: $main-blue;
        box-shadow: none;
        border: $btn-border;
    }

    &:active {        
        background: rgba($main-light, 0.7);
        color: $main-blue;
        box-shadow: none;
        border: $btn-border;
    }

    &[type="link"] {
        border-color: transparent;
        background: transparent;

        &:hover {
            color: rgba($main-light, 0.7);
        }
    
        &:active {        
            color: rgba($main-light, 0.5);
        }
    }
}

span.web-label {
    font-family: $font-family;

    border: $btn-border;
    color: $main-blue;
    background: $main-light;
}

select.web-select {
    font-family: $font-family;

    border: $btn-border;
    color: $main-light;
    background: transparent;

    &:active, &:focus {        
        background: rgba($main-light, 0.7);
        color: $main-blue;
        box-shadow: none;
        border: $btn-border;
    }
}

// option.web-option:hover {
//     background-color: $main-blue;
//     color: red;
// }