@import './colors';
@import './vars';

.header-bar {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    background: $main-blue;
    border-bottom: 1px solid $main-light;
    flex-direction: row;
    z-index: 200;
}

.header-btn {
    background: rgba(0, 0, 0, 0.1);
    border-radius: $btn-radius;
    border: 1px solid transparent;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.7em 1em;
    font-size: 1em;
    color: rgba($main-light, 1);
    transition: $transition-hover;
    
    &.active {
        // border-color: $main-light;
        background-color: $main-light;
        color: $main-blue;

        &:hover {
            background: $main-light;
            color: $main-blue;
        }
    }

    &:hover {
        background: rgba(0, 0, 0, 0.3);
        color: rgba($main-light, 0.5);
    }
}
  